:root {
    --color-cafe: #6F4E37;
    --color-the: #546A2A;
    --color-green: rgba(84, 106, 42, 0.75);
    --color-brown: rgba(209, 187, 168, 0.55);
    --color-bg-light: rgb(250, 250, 250);
    --color-text: rgb(4, 4, 4);

    --weight-main: 400;
    --weight-home: 900;
    --weight-title: 700;
    --weight-under-Title: 500;
    --weight-under-line: 300;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--weight-main);
    font-style: normal;
    list-style: none;
}

body {
    font-weight: normal;
    background-color: var(--color-bg-light);
    color: var(--color-text);
    line-height: 1.6;
    padding-top: 100px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    font-weight: var(--weight-title);
}