.navbar {
    /*display: block;*/
    height: 100px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: var(--color-bg-light);
}

.navbar:before {
    content: "";
    display: block;
    border-top: 10px solid var(--color-text);
    width: 100%;
}

.container-nav {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.nav-left img {
    height: 90px;
    width: 90px;
}

li {
    font-size: 22px;
    text-transform: uppercase;
}

ul {
    display: flex;
    gap: 32px;
}

.nav-right {
    display: flex;
    gap: 36px;
}

.navbar-login {
    display: flex;
    font-size: 14px;
    opacity: 40%;
    gap: 16px;
}

.navbar-login span {
    white-space: nowrap;
}