.product-card {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 350px;
  border: 3px solid var(--color-text);
}

.product-card-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  object-position: top left;
}

.product-card-info {
  margin: 15px 15px 5px;
}


.product-card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.product-infos-left {
  display: flex;
  gap: 10px;
}