.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 448px;
}

.forgot-password {
    text-align: right;
    margin-top: 5px;
}

.forgot-password a {
    font-size: 13px;
    color: #666;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
    color: #000;
}

.signup-link {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    color: #333;
}

.signup-link a {
    font-weight: 700;
    color: #000;
    text-decoration: none;
    margin-left: 5px;
}

.error-message {
    color: var(--color-the);
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.login-button:hover {
    background-color: #333;
    transition: 0.3s;
}