.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 448px;
    padding: 24px;
    border: 2px solid var(--color-text);
    gap: 32px;
}

h2 {
    font-size: 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

input {
    padding: 8px;
}

.forgot-password {
    text-align: right;
    margin: 16px 0px 5px 0px;
}

.forgot-password a {
    font-size: 13px;
    font-weight: bold;
    color: var(--color-green);
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
    color: #000;
}

.signup-link {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    color: #333;
}

.signup-link a {
    font-weight: 700;
    color: #000;
    text-decoration: none;
    margin-left: 5px;
}

.error-message {
    color: var(--color-the);
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.login-button {
    width: 100%;
    background-color: var(--color-text);
    color: var(--color-bg-light);
    padding: 8px;
    cursor: pointer;
}

.login-button:hover {
    background-color: var(--color-green);
    transition: 0.3s;
}

/* --- S'inscrire --- */

.signup-box {
    display: flex;
    flex-direction: column;
    width: 448px;
    background-color: white;
    border: 2px solid var(--color-text);
    padding-bottom: 24px;
}

.signup-header {
    text-align: center;
    border-bottom: 2px solid var(--color-text);
    padding: 32px 24px;
    margin-bottom: 24px;
}

.signup-header h1 {
    font-size: 22px;
    margin-bottom: 24px;
}

.signup-header h2 {
    font-size: 24px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    gap: 16px;
}


.form-row {
    display: flex;
    gap: 16px;
    width: 100%;
}

.half-width {
    flex: 1;
}

.input-with-icon {
    display: flex;
    gap: 8px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    background-color: #fff;
}

.input-with-icon .icon {
    margin-right: 12px;
    font-size: 16px;
    color: #666;
}

.input-with-icon input {
    border: none;
    outline: none;
    width: 100%;
    padding: 0;
    font-size: 14px;
}

.valid-btn {
    background-color: var(--color-text);
    color: var(--color-bg-light);
    margin-top: 16px;
    font-weight: bold;
}

.valid-btn:hover {
    background-color: var(--color-green);
}