.customer-review {
  display: flex;
  flex-direction: column;
  padding: clamp(16px, calc(14px + 0.71vw), 24px);
  background-color: var(--color-bg-light);
  border: 1px solid var(--color-text);
}

.review-rating {
  color: var(--color-cafe);
  font-size: var(--fs-subtitle);
  margin-bottom: 12px;
}

.review-text {
  font-size: var(--fs-body);
  line-height: 1.6;
  margin-bottom: 16px;
  flex-grow: 1;
}

.review-author {
  font-weight: var(--weight-under-Title);
  font-size: var(--fs-body);
}
