.product-card {
  display: flex;
  flex-direction: column;
  height: clamp(430px, calc(410px + 6.25vw), 500px);
  width: clamp(280px, calc(255px + 6.57vw), 350px);
  border: 3px solid var(--color-text);
}

.product-card-img {
  width: 100%;
  height: clamp(230px, calc(216px + 4.46vw), 280px);
  object-fit: cover;
  object-position: top left;
}

.product-card-info {
  margin: 15px 15px 5px;
}


.product-card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.product-infos-left {
  display: flex;
  gap: 10px;
}

.btn-add-cart {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
